.r-pointer {
	cursor: pointer;
}

.r-flex {
	display: flex;
}

.r-grid {
	display: grid;
}

.r-text--center {
	text-align: center;
}

.r-link {
	text-decoration: none;
  cursor: pointer;
}

.r-link:hover {
	text-decoration: underline;
  color: var(--main-color);
}
