@import '@/assets/base.css';
@import '@/styles/variables.scss';
@import '@/styles/styles.scss';

#app {
	max-width: 1280px;
	margin: 0 auto;
	font-weight: normal;
	height: 100%;
	display: grid;
	width: 100%;
	grid-template:
		'top top top'
		'left center right'
		'bottom bottom bottom';
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}
