@import '@/assets/base.css';
@import '@/styles/variables.scss';
@import '@/styles/styles.scss';

#app {
	max-width: 1280px;
	margin: 0 auto;
	font-weight: normal;
	height: 100%;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}
